
<!-- Tabla Periodica-elementos -->
<div id="periodic-table">
	<div class="column1">
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column2">
		<div class="no-border"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column3">
		<div class="legend"></div>
		<div class="transition-metals">
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
			<div class="column2">
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
				<div class="border-element"> </div>
			</div>
		</div>
	</div>
	<div class="column2">
		<div class="no-border"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column2">
		<div class="no-border"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column2">
		<div class="no-border"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column2">
		<div class="no-border"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column2">
		<div class="no-border"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
	<div class="column2">
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
		<div class="border-element"> </div>
	</div>
</div>