/* general */
* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	font-family: calibri;
}

table {
	padding: 0;
	margin: 0 auto;
}

td, tr {
	margin: 0;
	padding: 0;
}

button .property-button, button {
	background: none;
	border: none;
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

.publicity {
	height: 80px;
}

/* cajas de los elementos */

.border-element {
	width: 67px;
	height: 60px;
	background: #D8D8D8;
	border-radius: 3%;
}

#periodic-table{
	z-index: 0;
	padding: 0;
}

#atomic-short {
	margin: 0;
	padding: 0;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	text-decoration: bold;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.no-border {
	width: 60px;
	height: 60px;
}

.element-box{
	width: 100%;
	padding: 0;
	text-align: center;
	font-size: 11px;
}

.atomic-short{
	margin: 0;
	padding: 0;
	font-size: 25px;
	text-decoration: bold;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.atomic-number{ text-decoration: bold; text-align: left; height: 12px;}
.element-property { text-decoration: bold; text-align: right; font-size: 90%;}
.electron-configuration {font-size: 70%; height: 12px;}
.atomic-name{ text-decoration: bold; font-size: 90%;}
.simbol-row{ width: 60%; height: 40%; }

#elect-configuration {font-size: 84%;} 

.blank {
	width: 40%;
}
.group { border-bottom: 8px solid #F0F0F0; background: #F0F0F0; padding-top: 4px;}
.period {
	background: #F0F0F0;
	width: 17px;
	text-align: right;
	padding-right: 10px;
	margin: 0;
	border-right: 8px solid #F0F0F0;
}

.period-special{
	background: #F0F0F0;
	border-left: 32px solid white;
	width: 17px;
	height: 60px;
	text-align: right;
	padding-right: 10px;
	margin: 0;
	border-right: 8px solid #F0F0F0;
}

.row { padding: 0px; margin: 0px; }
.row-header { height: 25px; text-align: center; }


.elementoids {text-align: center; font-size: 80%; opacity: 0.6;}

/* leyendas */
.border-state {
	width: 40px;
	height: 36px;
	padding-top: 4px;
	font-size: 30px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.left-align {text-align: left;}
#solid{background: #FF3366;}
#liquid{background: #33FFFF;}
#gas{background: #99FF33;}
#unknown{background: #D8D8D8; opacity: 0.6;}

#legend {
	position: absolute;
	margin-top: 18px;
	margin-left: 150px;
	width: 673px;
	height: 210px;
	background: none;
	display: inline-block;
	z-index: 0;
}

#second-legend {
	visibility: hidden;
	position: absolute;
	margin-top: 17px;
	margin-left: 835px;
	width: 340px;
	height: 70px;
	display: inline-block;
}

#box-legend {
	padding: 5px;
	width: 150px;
	height: 180px;
	background: #D8D8D8;
	font-size: 20px;
	position: absolute;
	margin-top: 18px;
	margin-left: 30px;	
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	border-radius: 12%;
}

#categories-legend {
	visibility: hidden;
	border-radius: 10px;
	margin-left: 220px;
	margin-top: 22px;
}

#categories-legend tr td {
	padding: 6px 8px 6px 8px;
	text-decoration: bold;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
	font-size: 17px;
	border-radius: 7%;
}

#categories-legend tr td[data-category="0"] {text-shadow: 0px 0px 0px; background-color: #FF6600; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="1"] {text-shadow: 0px 0px 0px; background-color: #FFCC00; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="2"] {text-shadow: 0px 0px 0px; background-color: #FF0066; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="3"] {text-shadow: 0px 0px 0px; background-color: #99FF00; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="4"] {text-shadow: 0px 0px 0px; background-color: #11D51B; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="5"] {text-shadow: 0px 0px 0px; background-color: #1BFFDD; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="6"] {text-shadow: 0px 0px 0px; background-color: #3EA3E8; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="7"] {text-shadow: 0px 0px 0px; background-color: #0066CC; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="8"] {text-shadow: 0px 0px 0px; background-color: #C266C2; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-category="9"] {text-shadow: 0px 0px 0px; background-color: #A319A3; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 95%;}
#categories-legend tr td[data-general="metal"] {background-color: #F8F8FF; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 105%;}
#categories-legend tr td[data-general="nonmetal"] {background-color: #F8F8FF; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); font-size: 105%;}

#temperature-val{border: 10%;}

#first-state-legend { 
	visibility: hidden; 
	position: relative;
	top: -190px;
	left: 20px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

#state-legend {
	position: absolute;
	margin-top: 20px;
	left: 40px;
}

#state-legend tr td {
	padding-bottom: 5px;
	padding-right: 10px;
}

.atom-amount{
	font-size: 87%;
	float: right;
	clear: both;
	text-align: right;
}


#mass-molecule {
	position: relative;
	text-align: center;
	top: 30px;
	left: 100px;
	border: 1px solid grey;
	font-size: 120%;
	width: 350px;
}

#mass-molecule tr td {
	padding: 5px;
}

.atom-imputs {
	text-align: right;
}

.molecular-calculator {
	border: 1px solid black;
}

/* slider temperatura */
.slider{
   	height: 20px;
   	position: relative;
   	width: 90%;
	top: 15px;
	left: 18px;
}

.slider > .emptyprogress{
   background: #97d9fb;
   border: 2px solid white;
   cursor: pointer;
   border-radius: 10px;
   height: 40%;
   top: 25%;
   position: absolute;
   width: 100%;
   -webkit-box-shadow: 1px 1px 3px 0px #ccc;
   box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .progress{
   background: #14aaf6;
   border: 2px solid white;
   cursor: pointer;
   border-radius: 7px;
   height: 40%;
   top: 25%;
   position: absolute;
   width: 4.9%;
   -webkit-box-shadow: 1px 1px 3px 0px #ccc;
   box-shadow: 1px 1px 3px 0px #ccc;
}

.slider > .indicator{
   background: url('atom_logo_full.png') no-repeat;
   background-size: auto 100%;
   cursor: move;
   height: 100%;
   margin: 1px auto auto -10px;
   left: 4.9%;
   position: absolute;
   width: 27px;
   z-index: 1;
}

#slider-text {
	margin-top: 0px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
}


/* game */
.border-element-game {
	width: 65px;
	background: white;
	border-radius: 3%;
	border: 1px solid grey;
}

.border-element-options {
	width: 63px;
	background: #D8D8D8;
	border-radius: 3%;
	border: 1px solid grey;
}

#random-elements {
	position: relative;
	top: 30px;
	left: 95px;
	border: 1px solid grey;
}

.border-element-options .atomic-number { text-decoration: bold; text-align: left; height: 9px;}
.border-element-game .atomic-number{ text-decoration: bold; text-align: left; height: 11px;}
.border-element-game table tr td { visibility: hidden;}