body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: calibri;
}

table {
	padding: 0;
	margin: auto;
}

input {
	padding: 10px 18px 10px 18px;
	margin: 5px;
	border-radius: 25%;
}

header {
	margin-bottom: 30px;
}

td, tr {
	margin: 0;
	padding: 0;
}

#property-options {
	padding: 10px;
	width: 60%;
	margin: 0 auto 0 auto;
	text-align: center;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}

.border-element {
	border: 1px solid black;
	width: 60px;
	height: 60px;
	background: #D8D8D8;
}

.no-border {
	width: 60px;
	height: 60px;
}

.element-box{
	width: 100%;
	padding: 0;
	text-align: center;
	font-size: 11px;
}

.atomic-short{
	margin: 0;
	padding: 0;
	font-size: 25px;
	text-decoration: bold;
	text-align: center;
}

.atomic-number{ text-decoration: bold; text-align: left; }
.element-property { text-decoration: bold; text-align: right; }
.atomic-name{ text-decoration: bold;}
.simbol-row{ width: 60%; height: 40%; }

.column-periods {
	width: 15px;
	height: 60px;
	text-align: right;
	padding-right: 10px;
	margin: 0;
}

.row { padding: 0px; margin: 0px; }
.row-header { height: 25px; text-align: center; }

#mass {background: #99FFFF}
#boiling-point {background: #0099FF; }
#melting-point {background: #F00000;}
#abundance {background: #66FF00;}
#radium {background: #990033;}
#ionization-energy {background: #9900CC;}
#electronegativity {background: #FF9900;}
#electron-affinity {background: #FFFF66;}
#categories {background: #FF0066;}


