header {
	background-color: #181a1e;
	height: 62px;
	color: white;
	margin: 0 auto;
	padding: 0px;
	width: 100%;

 
    /* box shadow */
    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;
}

#header { font: 18px/1 Lobster,Arial,sans-serif;}

.nav { /*Le establecemos un ancho*/
	width: 100%;
	margin: 0 auto; /*Centramos automaticamente*/
}

.nav > li {
  float: left;
  position: relative;
  width: 0 auto;
}

.nav li  {
  min-width: 5%;
  border: none;
  display: inline-block;
  padding: 22px 10px;
  position: relative;
  z-index: 2;
  text-decoration:none !important;
  white-space:nowrap;
  color: #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
}

.nav .none {
  margin: 0px;
  min-width: 0px;
  width: 1px;
}

.nav li a {
  text-decoration:none !important;
  color: #FFFFFF;
  font-size: 95%;
}
 
.nav li:hover {
  background-color: #0d0e10;
}
.nav .none:hover {
  background-color: #181a1e;
}

.none-display {
  display:none;
  position:absolute;
}

.on-display {
  display:block;
  position:absolute;
  z-index: 10;
}

.nav ul {
  text-shadow: 0 -1px 3px #202020;
  position: absolute;
  margin-top: 60px;
  top: 0px;
  font-size: 100%;
  text-align: left;
  z-index: 11;
  
    /* border radius */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
 
    /* box shadow */
    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;

  background-color: #181a1e;
  border: 1px solid #0d0e10;

  vertical-align: text-top;
  display: inline-block;
  width: 100%;
}

.nav ul li, .nav ul ul li{
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 7px;
}

.nav ul li button, .nav ul li a, .nav ul ul li button {
  text-decoration: none;
  font-size: 13px;
  padding: 2px 0px;
  width: 100%;
  color: #dcdee3;
  box-sizing: content-box;
}

.nav ul li:hover, .nav ul ul li:hover{
  background-color: #0d0e10;
}
  
.nav ul li button:hover, .nav ul ul li button:hover .nav ul li a:hover{
  border: none;
  padding: 0px;
  top: 0px;
  font-size: 95%;
}


.fa-caret-down, .fa-caret-up {
  color: white;
  z-index: 10;
}

#submenu-game-mode {
  width: 150px;
  left: 410px;
  top:-10px;
  display: none;
}


#submenu-game-timer {
  width: 100px;
  left: 145px;
  top:-40px;
  display: none;
}

#submenu-game-normal {
  width: 100px;
  left: 145px;
  top: -10px;
  display: none;
}

/* logout-login */

.img-little-size {
  object-fit: auto auto; 
  object-position: center;
  width: 38px;
  height:38px;
  border-radius: 20%;
  vertical-align:middle;
  margin: 0 5px 0 0;
  border: 2px solid #666666;
}

.login-users > li{
  float: right;
}

.login-users .img-profile {
  padding: 12px 25px;
}

#submenu-user {
  right: 10px;
  top:-10px;
  display: none;
  width: 150px;
}

.left-margin {
  margin: 0px;
  padding: 0px;
  min-width: 8% !important;
  height: 100%;
}
